<div class="w-12 relative mt-2 pt-6 sm:px-6 px-2 pb-0 flex flex-column justify-content-start align-items-center">
    <!-- Top Content -->
    <div class="w-12 sm:px-6 px-2 absolute top-0 left-1 flex flex-row justify-content-between align-items-center">
        <h3 class="text-2xl">My Cart</h3>
        <p-button routerLink="" label="Home" styleClass="p-button-outlined p-button-secondary"></p-button>
    </div>
    <!-- Product List in Cart -->
    <div *ngIf="cart.length > 0" class="w-12 relative mt-2 flex flex-column justify-content-start align-items-start gap-2 ">
        <p-table class="w-12" [value]="cart" [scrollable]="true" scrollHeight="60vh" dataKey="name" [tableStyle]="{ 'min-width': '60rem' }">
            <!-- Header -->
            <ng-template pTemplate="header">
                <tr class="sticky top-0 left-0 w-12">
                    <th>Image</th>

                    <th>Name</th>

                    <th class="text-center">Price </th>

                    <th class="text-center">Quantity </th>

                    <th class="text-center">Total Price</th>

                    <th class="text-center">Delete </th>
                </tr>
            </ng-template>
            <!-- Body -->
            <ng-template pTemplate="body" let-cart let-rowIndex="rowIndex" let-expanded="expanded">
                <tr>
                    <td> <img class="h-19rem w-auto" src="{{cart.images[0]}}" alt="" width="50" class="shadow-4"></td>

                    <td>{{ cart.title }}</td>

                    <td class="text-center">{{ cart.price | currency: 'Nrs -' }}</td>

                    <td class=" flex flex-row justify-content-center align-items-center gap-1">
                        <p-button (click)="updateCartQty(cart.id,-1)" icon="pi pi-minus" styleClass="p-button-sm p-button-secondary p-button-text p-button-raised"></p-button>
                        <span>{{ cart.count }}</span>
                        <p-button (click)="updateCartQty(cart.id, 1)" icon="pi pi-plus" styleClass="p-button-sm p-button-secondary p-button-text p-button-raised"></p-button>
                    </td>

                    <td class="text-center">{{ cart.price * cart.count | currency: 'Nrs -'}} </td>

                    <td class="text-center">
                        <p-button (click)="remove(rowIndex)" icon="pi pi-trash" styleClass="p-button-sm p-button-danger p-button-text"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div *ngIf="cart.length > 0" class="w-12  p-2 sticky bottom-0 right-0 flex flex-column justify-content-start md:align-items-end align-items-start">
            <div class="w-18rem  flex flex-column  justify-content-start align-items-start gap-3 ">
                <div class="w-12 flex flex-row justify-content-end align-items-center">
                    <span class="w-8rem font-medium">Sub-total</span>
                    <span class="w-10rem font-medium">{{subTotal | currency: 'Nrs -'}}</span>
                </div>
                <div class="w-12 flex flex-row justify-content-end align-items-center">
                    <span class="w-8rem font-medium">Tax</span>
                    <span class="w-10rem font-medium">{{taxAmount | currency: 'Nrs -'}}</span>
                </div>
                <div class="w-12 flex flex-row justify-content-end align-items-center">
                    <span class="w-8rem font-medium">Total Amount</span>
                    <span class="w-10rem font-medium">{{subTotal + taxAmount  | currency: 'Nrs -'}}</span>
                </div>
                <p-button routerLink="/checkout" label="Procced to Checkout" styleClass="p-button-outlined p-button-secondary"></p-button>
            </div>
        </div>
    </div>

    <!-- For Empty Cart -->
    <div *ngIf="cart.length === 0" class="w-12 h-screen text-3xl flex flex-column justify-content-center align-items-center gap-5">
        Your Cart is Empty
        <p-button routerLink="" label="Go To Product List" styleClass="p-button-outlined p-button-secondary"></p-button>
    </div>
</div>