<div class="w-12 relative mt-2 pt-6 md:px-6 px-2 pb-0">
    <!-- successful message pop up div -->
    <div style="z-index: 100;" class="w-12 fixed top-0 left-0 flex flex-row justify-content-end">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    </div>
    <!--top content -->
    <div class="w-12 md:px-6 px-2 absolute top-0 left-0 flex flex-row justify-content-between align-items-center">
        <h3 class="text-2xl">Order Checkout</h3>
        <div class="flex flex-row gap-1">
            <p-button routerLink="" label="Home" styleClass="p-button-outlined p-button-secondary"></p-button>
            <p-button routerLink="/cart" label="Cart" styleClass="p-button-outlined p-button-secondary"></p-button>
        </div>
    </div>
    <!-- Page Main Content -->
    <div *ngIf="cart.length > 0" class="w-12 mt-2">
        <p-accordion [activeIndex]="activeIndex" class="w-full">
            <!-- Personal Information -->
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <i class="pi pi-info-circle mr-2"></i>
                        <span class="vertical-align-middle">Personal Information</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <form [formGroup]="infoForm" (ngSubmit)="onSubmitInfo()" class="w-12 px-2 flex flex-column justify-content-start align-items-start gap-2">
                        <div class="w-12 flex sm:flex-row flex-column justify-content-start align-items-center gap-2">
                            <div class="md:w-25rem sm:w-4 w-12 flex flex-column gap-2">
                                <label htmlFor="username">Username</label>
                                <input pInputText id="username" formControlName="name" aria-describedby="username-help" />
                            </div>
                            <div class="md:w-25rem sm:w-4 w-12 flex flex-column gap-2">
                                <label htmlFor="username">Email Address</label>
                                <input pInputText id="username" formControlName="email" aria-describedby="username-help" />
                            </div>
                            <div class="md:w-25rem sm:w-4 w-12 flex flex-column gap-2">
                                <label htmlFor="username">Phone Number</label>
                                <input pInputText id="username" formControlName="phoneNumber" aria-describedby="username-help" />
                            </div>
                        </div>
                        <div class="w-12 flex sm:flex-row flex-column justify-content-start align-items-center gap-2">
                            <div class="md:w-25rem sm:w-6 w-12  flex flex-column gap-2">
                                <label htmlFor="username">Address</label>
                                <input pInputText id="username" formControlName="address" aria-describedby="username-help" placeholder="City, Country" />
                            </div>
                            <div class="md:w-25rem sm:w-6 w-12  flex flex-column gap-2">
                                <label htmlFor="username">Locality</label>
                                <input pInputText id="username" formControlName="locality" aria-describedby="username-help" placeholder="House No, Street" />
                            </div>
                        </div>
                        <div class="w-12 flex flex-row justify-content-end align-items-center mt-2 ">
                            <p-button [disabled]="!infoForm.valid" (click)="onSubmitInfo()" label="Next"></p-button>

                        </div>
                    </form>
                </ng-template>
            </p-accordionTab>
            <!-- Payment  -->
            <p-accordionTab [disabled]="disablePayment">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <i class="pi pi-dollar mr-2"></i>
                        <span class="vertical-align-middle">Payment</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()" class="w-12 px-2 flex flex-column justify-content-start align-items-start gap-2">
                        <div class="w-12 flex md:flex-row flex-column justify-content-start align-items-center gap-2">
                            <div class="md:w-6 w-12 flex sm:flex-row flex-column justify-content-start align-items-center gap-2">
                                <div class="sm:w-6 w-12 flex flex-column gap-2">
                                    <label htmlFor="username">Cardholder Name</label>
                                    <input pInputText id="username" formControlName="cardHolderName" aria-describedby="username-help" />
                                </div>
                                <div class="sm:w-6 w-12 flex flex-column gap-2">
                                    <label htmlFor="username">Card Number</label>
                                    <input pInputText id="username" formControlName="cardNumber" aria-describedby="username-help" />
                                </div>
                            </div>
                            <div class="md:w-6 w-12 flex sm:flex-row flex-column justify-content-start align-items-center gap-2">
                                <div class="sm:w-auto w-12 flex flex-column gap-2">
                                    <label htmlFor="username">Expiry Date</label>
                                    <p-calendar class="w-full" formControlName="expiryDate" [showIcon]="true"></p-calendar>
                                </div>
                                <div class="flex-grow-1 w-12 flex flex-column gap-2">
                                    <label htmlFor="username">Security Code</label>
                                    <input pInputText id="username" formControlName="securityNumber" aria-describedby="username-help" />
                                </div>
                            </div>
                        </div>
                        <div class="w-12 flex flex-row justify-content-end align-items-center mt-2 gap-2 ">
                            <p-button [disabled]="!paymentForm.valid" (click)="onSubmitPayment()" label="Next"></p-button>
                        </div>
                    </form>
                </ng-template>
            </p-accordionTab>
            <!-- Order List -->
            <p-accordionTab [disabled]="disableOrder">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <i class="pi pi-book mr-2"></i>
                        <span class="vertical-align-middle">Order List</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div *ngIf="cart.length > 0" class="w-12 relative md:mt-2 mt-0 flex flex-column justify-content-start align-items-start gap-2 ">
                        <p-table class="w-12" [value]="cart" [scrollable]="true" dataKey="name" [tableStyle]="{ 'min-width': '60rem' }">
                            <!-- Header -->
                            <ng-template pTemplate="header">
                                <tr class="sticky top-0 left-0 w-12">
                                    <th>Image</th>

                                    <th>Name</th>

                                    <th class="text-center">Price </th>

                                    <th class="text-center">Quantity </th>

                                    <th class="text-center">Total Price</th>

                                    <th class="text-center">Remove </th>
                                </tr>
                            </ng-template>
                            <!-- Body -->
                            <ng-template pTemplate="body" let-cart let-rowIndex="rowIndex" let-expanded="expanded">
                                <tr>
                                    <td> <img class="h-19rem w-auto" src="{{cart.images[0]}}" alt="" width="50" class="shadow-4"></td>

                                    <td>{{ cart.title }}</td>

                                    <td class="text-center">{{ cart.price | currency: 'Nrs -' }}</td>

                                    <td class="text-center"> {{ cart.count }} </td>

                                    <td class="text-center">{{ cart.price * cart.count | currency: 'Nrs -'}} </td>

                                    <td class="text-center">
                                        <p-button (click)="remove(rowIndex)" icon="pi pi-trash" styleClass="p-button-sm p-button-danger p-button-text"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
        <!-- Order Summary -->
        <div class="w-12  p-2 flex flex-column justify-content-start md:align-items-end  align-items-start   gap-4 py-4">
            <span class="text-left text-xl w-18rem">Order Summary</span>
            <div class="w-18rem  flex flex-column  justify-content-start align-items-start gap-3 ">
                <div class="w-12 flex flex-row justify-content-end align-items-center">
                    <span class="w-8rem font-medium">Sub-total</span>
                    <span class="w-10rem font-medium">{{subTotal | currency: 'Nrs -'}}</span>
                </div>
                <div class="w-12 flex flex-row justify-content-end align-items-center">
                    <span class="w-8rem font-medium">Tax</span>
                    <span class="w-10rem font-medium">{{taxAmount | currency: 'Nrs -'}}</span>
                </div>
                <div class="w-12 flex flex-row justify-content-end align-items-center">
                    <span class="w-8rem font-medium">Total Amount</span>
                    <span class="w-10rem font-medium">{{subTotal + taxAmount  | currency: 'Nrs -'}}</span>
                </div>
                <p-button [disabled]="placeOrder" (click)="onClickPlaceOrder()" label="Place Order"></p-button>
            </div>
        </div>
    </div>

    <!-- if there is not products in cart or after placing order -->
    <div *ngIf="cart.length === 0" class="w-12 text-center h-screen text-3xl flex flex-column justify-content-center align-items-center gap-5">
        Your cart is empty.. Go and add product in cart
        <p-button routerLink="" label="Go To Product List" styleClass="p-button-outlined p-button-secondary"></p-button>
    </div>
</div>