<div class=" background-color w-12  flex flex-column justify-content-start align-items-center gap-2 py-4 px-2">
    <!-- Product list top content -->
    <div class="md:w-10 sm:w-11 w-12 flex sm:flex-row flex-column sm:justify-content-between sm:align-items-center justify-content-start align-items-start gap-2">
        <span class="text-2xl">Product List</span>
        <div class="md:w-6 sm:w-auto w-12 flex-grow-1  flex flex-row justify-content-start align-items-center gap-2 ">
            <form [formGroup]="searchForm" class="p-input-icon-right w-12 flex-grow-1">
                <i class="pi pi-search"></i>
                <input class="w-12 flex-grow-1" formControlName="searchTerm" pInputText type="text" placeholder="Search for product" />
            </form>
            <p-button routerLink="/cart" class="text-3xl min-w-max" icon="pi pi-shopping-cart" label="cart" styleClass="  p-button-secondary p-button-outlined"></p-button>
        </div>
    </div>
    <!-- Product Container -->
    <div class=" md:w-10 sm:w-11 w-12 mt-4 flex flex-row flex-wrap md:justify-content-between sm:justify-content-evenly justify-content-evenly align-items-start gap-4">
        <!-- Single Product -->
        <div pTooltip="click to view detail" [routerLink]="['/productdetail',item.id]" *ngFor="let item of filteredProductList" class="product-card md:w-12rem sm:w-11rem w-9rem h-13rem relative  overflow-hidden flex flex-column justify-content-start align-items-center gap-3">
            <div class="h-8rem">
                <img style="object-fit: cover;" class="w-12 h-8rem" src="{{item.thumbnail}}" alt="">
            </div>
            <div class="w-12 p-1 flex flex-column justify-content-start align-items-center gap-2  ">
                <span class="">{{item.title}}</span>
                <span>Nrs - {{item.price}}</span>
            </div>
        </div>
    </div>
</div>