 .product-card {
     border: 1px solid rgb(236, 236, 236);
     border-radius: 16px;
     background-color: white;
 }
 
 .product-card:hover {
     cursor: pointer;
     border: 1px solid rgb(161, 161, 161);
 }
 
 .background-color {
     background-color: rgb(244, 244, 250);
 }