<div class="w-12 relative mt-2 pt-6 sm:px-6 px-2 pb-0 flex md:flex-row flex-column justify-content-around align-items-center gap-4">
    <!-- successful message pop up div -->
    <div style="z-index: 100;" class="w-12 fixed top-0 left-0 flex flex-row justify-content-end">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    </div>
    <!-- Top Content -->
    <div class="w-12 sm:px-6 px-2 absolute top-0 left-1 flex flex-row justify-content-between align-items-center  ">
        <h3 class="text-2xl">Product Detail</h3>
        <div class="flex flex-row gap-1">
            <p-button routerLink="" label="Home" styleClass="p-button-outlined p-button-secondary"></p-button>
            <p-button routerLink="/cart" label="Cart" styleClass="p-button-outlined p-button-secondary"></p-button>
        </div>
    </div>
    <!-- Image Dive of product -->
    <div class="md:w-6 w-12 overflow-hidden" style="max-height: 90vh;">
        <img style="object-fit: contain;" class="w-12 h-auto" src="{{product.thumbnail}}" alt="">
    </div>
    <!-- Product Information -->
    <div class="md:w-6 w-12 flex flex-column justify-content-start align-items-start gap-4">
        <div class="w-12 flex flex-row justify-content-start align-items-start gap-2">
            <span class="w-8rem">Product Name</span>
            <span>-{{product.title}}</span>
        </div>
        <div class="w-12 flex flex-row justify-content-start align-items-start gap-2">
            <span class="w-8rem">Category </span>
            <span>-{{product.category}}</span>
        </div>
        <div class="w-12 flex flex-row justify-content-start align-items-start gap-2">
            <span class="w-8rem">Price </span>
            <span>-{{product.price}}</span>
        </div>
        <div class="w-12 flex flex-row justify-content-start align-items-start gap-2">
            <span class="w-8rem">Availabel Stock </span>
            <span>-{{product.stock}}</span>
        </div>
        <div class="w-12 flex flex-row justify-content-start align-items-start gap-2">
            <span class="w-8rem">Description </span>
            <span class="md:w-26rem w-auto">-{{product.description}}</span>
        </div>
        <div class="w-12 flex flex-row justify-content-start align-items-start gap-3  ">
            <div class="flex flex-row justify-content-between align-items-center gap-2">
                <p-button (click)="changeCount(-1)" icon="pi pi-minus" styleClass="p-button-sm p-button-secondary p-button-text p-button-raised"></p-button>
                <span class="text-2xl">{{ count }}</span>
                <p-button (click)="changeCount(1)" icon="pi pi-plus" styleClass="p-button-sm p-button-secondary p-button-text p-button-raised"></p-button>
            </div>
            <p-button (click)="addToCart(product)" label="Add to cart" styleClass="p-button-success"></p-button>
        </div>
    </div>
</div>